body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Chat room headers*/
#whole-box-header
{
    margin-top:70px;
    width:96%; 
    height:40px;
}

.groupchat-header
{
    float:left;
    height:inherit;
    width:75%;  
    border:groove;
}
.groupchat-header h4, .userbox-header h4
{
    text-align: center;
}

/* Application Logo */ 
.navbar-brand
{
    height:50px;
    width:50px;
    background-image:url("../Images/logo.png");
    background-size:cover;
}

/*Chat lobby*/
#chatlobby-form
{
	display: block;
	height: 500px;
	width: 700px;    
	margin: 0 auto;
	margin-top: 5%;
}

#chatlobby-box 
{
	margin-top: 20px;
    margin-left:180px

}

label 
{    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 20px;
    color: #265692
}

button 
{
	margin-top: 10px;
	margin-right: 10px;
}

#username
{   
	line-height: 25px;
	font-size: 20px;
	font-weight:200; 
	height:50px;
	width: 180px;
	padding:5px; 
	color: #000000;
	letter-spacing: 1px;
	font-family: museo-sans-rounded;
}

/*Chat room look and styling*/
#whole-box
{
  width:96%; 
  height:70%;
  overflow: auto;
}

.groupChat-box
{
    float:left;
    width:75%;
    height:600px;
    position:relative;
    clear:both;
}

#whole-box-header
{
    margin-top:50px;
    width:96%; 
    height:40px;
    position:relative;
}

.groupchat-header
{
    float:left;
    height:inherit;
    width:74%;  
    border:groove;
    clear:both;
}

.userbox-header
{
    border-style: groove;
    border-color: inherit;
    height:40px;
    width:26%;
    float:right;    
}

.lower-left
{
    border-style: groove;
    position:absolute;
    height:20%;
    width:100%;
}

.msg-box
{
    height:100%;
    width:80%;
    float:left;
}

.send-box
{
    height:100%;
    width:20%;
    float:right;
}

#Textbox1
{
  font-family:Candara, Verdana;
  font-size:large;
  resize:none;
  height:100%;
  width:100%;
}

#sendButton
{
    height:20px;
    width:20px;
    float:right;
}



/*User listing and display*/
#user-box
{
    width:25%;
    height:600px;
    border:groove;
    float:right;
    overflow:hidden;
}

#user-box ul
{
	list-style: none;
    list-style-position:inside;
    margin:0;
    padding:0;

}

#user-box ul li
{
    display:block;
    text-align:center;
	border-bottom: 2px solid #F2F2F2;
    padding:5px;
    background-color:#edd3d3;
    width:100%;
    overflow:hidden;
}	

#user-box ul li:hover 
{
	width: 100%;
	background-color: #4373b0;
	border-bottom: 1px solid #808080;
    height: inherit;
    padding: 5px;
}

/*Chat box*/

#chat-box
{
    margin:auto;
    height:80%;
    width:100%;
    border:groove;
    overflow:auto;
}

/*Chat property*/

#chat-box ul
 {
	list-style: none;
    padding: 0px;
    margin-bottom:0;
    
}

#chat-box ul li 
{
    display:block;
    height: inherit;
    overflow:auto;
   	border-bottom: 2px solid #808080;
}


.chat-property-username 
{
    display:block;
    float:left;
    width: auto;
    padding:5px;    
    background-color:#009690; 
    color: black; 
          
}

.chat-property-message 
{   
    width:78%;
    padding: 5px;    
    word-wrap:break-word;
    font-family:Arial, Helvetica, sans-serif;
    float:left;

}

.chat-property-timestamp 
{   
    width: auto;
    text-align: center;  
    padding: 5px;    
    background-color: #91a2e3;
    color: black;
    float:right;

}



