body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Application Logo */ 
.navbar-brand
{
    height:50px;
    width:50px;
    background-image:url("../Images/logo.png");
    background-size:cover;
}

/*Chat lobby*/
#chatlobby-form
{
	display: block;
	height: 500px;
	width: 700px;    
	margin: 0 auto;
	margin-top: 5%;
}

#chatlobby-box 
{
	margin-top: 20px;
    margin-left:180px

}

label 
{    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 20px;
    color: #265692
}

button 
{
	margin-top: 10px;
	margin-right: 10px;
}

#username
{   
	line-height: 25px;
	font-size: 20px;
	font-weight:200; 
	height:50px;
	width: 280px;
	padding: 15px; 
	color: #000000;
	letter-spacing: 1px;
	font-family: museo-sans-rounded;
}

/*Chat room look and styling*/
#whole-box
{
  width:96%; 
  height:70%;
  margin:auto; 
  overflow: auto;
}

.groupChat-box
{
    float:left;
    width:75%;
    height:600px;
    position:relative;
    clear:both;
}

#whole-box-header
{
    margin-top:70px;
    width:96%; 
    height:40px;
    margin:auto; 
    position:relative;
}

.groupchat-header
{
    float:left;
    height:inherit;
    width:75%;  
    border:groove;
}

.userbox-header
{
    border-style: groove;
    border-color: inherit;
    border-width: medium;
    float:right;
    height:40px;
    width:25%;
}

.lower-left
{
    border-style: groove;
    border-color: inherit;
    border-width: medium;
    margin: auto;
    position:relative;
    height:20%;
}

.msg-box
{
    height:100%;
    width:80%;
    float:left;
}

.send-box
{
    height:100%;
    width:20%;
    float:right;
}

#Textbox1
{
  font-family:Candara, Verdana;
  font-size:x-large;
  resize:none;
  height:100%;
  width:100%;
}

/*User listing and display*/
#user-box
{
    width:auto;
    height:600px;
    border:groove;
    overflow:auto;
}

ul.user-list
{
	list-style: none;
    list-style-position: inside;

}

li.user-list
{
    display:inline-block;
	border-bottom: 1px solid #F2F2F2;
    overflow:auto;
    padding:20px;
    background-color:#33b6b1

}	

/*Chat box*/

#chat-box
{
    margin:auto;
    height:80%;
    width:100%;
    border:groove;
    overflow: auto;
}

/*Chat property*/

#chat-box ul
 {
	list-style: none;
    list-style-position: inside;	
}

#chat-box ul li 
{
	display:block;
	border-bottom: 1px solid #F2F2F2;
	width:100%;
	height:100%;
}
.chat-property-username 
{
    display:block;
    float:left;
    width: 20%;
    padding:20px;    
    background-color:#009690;    
}

.chat-property-message 
{   
    border-style: dotted;
    border-color: inherit;
    border-width: medium;
    width: 70%;
    padding: 20px;    
    word-wrap: break-word;
    display:block;
}

.chat-property-timestamp 
{   
    width: 10%;
    position: absolute;
    text-align: center;
    font-weight:lighter;    
    padding: 20px;    
    background-color: #FF9966;
    color: black;
}